@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot ttf svg woff woff2
) {
  // to do woff woff2
  $src: $path;

  $formats: (
    eot: "embedded-opentype",
    ttf: "truetype",
  );

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

@mixin flexBox($ai: flex-start, $jc: flex-start, $wrap: wrap, $dir: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-wrap: $wrap;
  flex-direction: $dir;
}

@mixin fs(
  $font-size,
  $font-weight: 300,
  $line-height: normal,
  $letter-spacing: normal
) {
  font-size: $font-size * 1px;
  font-weight: $font-weight;
  // font-size: $font-size * 0.1rem;
  // example using rem values and 62.5% font-size so 1rem = 10px

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing / $font-size}em;
  }
}


@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}