.breadcrumb {
  margin: 10px 15px;
  &__back {
    background-color: white;
    border: none;
    a {
      font-size: 14px;
      font-weight: 600;
    }
  }
  a {
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    padding-left: 5px;
  }
  .pagination {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .breadcrumb {
    width: 1180px;
    margin: 0 auto;
    &__back {
      display: none;
    }
    .pagination {
      display: flex;
      padding: 0;
      li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
      li a {
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        opacity: 0.5;
      }
      li + li a {
        text-decoration: underline;
        opacity: 1;
      }
    }
  }

}
