.owl-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: flex;
}
.owl-carousel .owl-nav {
  margin: 0;
}
.owl-item .active {
  width: fit-content;
}
.owl-stage {
  width: 150%;
  display: flex;
  // overflow: hidden;
  flex-wrap: nowrap;
}
.owl-prev,
.owl-next {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  // left: 0;
  width: 20px;

  span {
    position: absolute;
    color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: auto;
  }
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: var(--primary-color);
  font-size: 39px;
  background: transparent;
  margin: 0;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
}

.owl-item > div {
  cursor: pointer;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
  border: 1.5px solid var(--primary-color);
}

.category {
  margin: 24px 0px 8px;
  &__heading {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 600;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 64px;
    .carousel-item {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      display: block;
      margin: 0 8px;
      min-width: fit-content;
      height: 60px;
      text-align: center;
      padding: 11px 18px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .icon {
        display: none;
      }
      &:hover {
        border: 3px solid var(--primary-color);
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .owl-carousel .owl-stage-outer {
    margin: 0 30px;
  }
  .category {
    margin: 40px -20px 48px;
    &__heading {
      font-size: 20px;
      line-height: 28px;
    }
    &__list {
      height: 188px;
      .carousel-item {
        @include flexBox(center, space-between, auto, column);
        height: 156px;
        width: 130px;
        max-width: 135px;
        margin: 0 10px;
        min-width: 120px;
        
        line-height: 19.6px;
        padding: 25px 10px;
        border: none;

        .icon {
          display: block;
        }
        &:hover {
          border-radius: 4px;
          border: 1.5px solid var(--primary-color);
          opacity: 0.8;
          transition: all 0.3 ease-in-out;
        }
      }
      .selected {
        border: 2px solid var(--primary-color);
        border-radius: 2px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
