.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  margin: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &__logo {
    img {
      // background-color: var(--primary-color);
    }
  }
  .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    &__link {
      display: none;
    }
    &__icons {
      display: flex;
      align-items: center;
      padding: 0;
      .navigation__icon {
        margin-left: 15px;

        button {
          border: none;
        }
      }
      #user,
      #language {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1180px;
    margin: 0 auto;
    &__logo {
      display: block;
      img {
        min-width: 150px;
      }
    }

    .navigation {
      justify-content: space-between;
      padding-left: 25px;
      &__link {
        display: flex;
        align-items: center;
      }
      &__item {
        margin: 0 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        position: relative;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      &__icons {
        .navigation__icon {
          width: fit-content;
          margin: 0 12.5px;
        }
        #menu {
          display: none;
        }
        #user,
        #language {
          display: block;
        }
        #language {
          text-transform: uppercase;
          margin: 0;
          margin-left: 15px;
          padding: 0 25px;
          position: relative;
          border-left: 1px solid rgba(0, 0, 0, 0.1);

          .dropdown {
            display: none;
            position: absolute;
            box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
            color: var(--primary-color);
            background-color: white;

            top: 20px;
            left: -10px;
            padding: 10px;
            margin: 0 10px;
            li {
              margin: 10px 10px;
            }
          }
          .show {
            display: block;
          }
        }
      }
    }
  }
}
