.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  margin: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1180px;
    margin: 0 auto;
    &__logo {
      display: block;
      img {
        min-width: 150px;
      }
    }  
  }
}
