.menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  transition: 0.5s;
  overflow: hidden;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    .main-menu-heading {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        height: 18px;
        font-weight: 600;
        display: block;
        position: relative;
        cursor: pointer;
        img {
          height: 100%;
        }
      }
      .title {
        font-weight: 600;
        flex-grow: 1;
        align-self: center;
        text-decoration: none;
        font-size: 16px;
        height: 48px;
        line-height: 24px;
        padding: 15px 50px 15px 25px;
        color: var(--primary-color);
        cursor: pointer;
        
      }
      .heading {
        
        height: 70px;
        .hasIcon {
          display: flex;
          align-items: center;
          gap: 10px;
          height: 70px;
        }
      }
      .subMenu {
        display: flex;
        left: 0;
        width: 100%;
        top: 0;
        position: absolute;
        z-index: 1;
        min-width: 200px;
        border: 1px solid #dbdfe1;
        background: #fff;
        height: 100%;
        overflow: scroll;
        justify-content: space-between;
        transform: translateX(120%);
        transition: transform 0.4s;
        &__heading {
          display: block;
          width: 100%;
          padding: 27px 50px 27px 60px;
          position: relative;
          color: #011e41;
          font-size: 1.14286rem;
          font-weight: 600;
          line-height: 1;
          background-color: #dfe7ea;
          &:before {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            border: solid var(--primary-color);
            padding: 3px;
            transform: rotate(-45deg);
            bottom: 30px;
            border-width: 2px 0 0 2px;
            left: 35px;
          }
        }
        &__item {
          padding: 15px 45px 15px 30px;
          font-weight: 600;
          font-size: 14px;
          pointer-events: none;
        }

      }
      .active {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        transform: translateX(0);
        transition: transform 0.4s;
        overflow: hidden;
      }
    }
    &-item {
      height: 60px;
      padding: 20px;
      border-bottom:1px solid rgba(0, 0, 0, 0.1);
      .heading {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 10px;
        flex-grow: 1;
        align-self: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 50px 15px 25px;
        color: var(--primary-color);
      }

      span {
        height: 20px;
        img {
          height: 100%;
        }
      }
    }
    &-productList {
      padding: 0 20px 13px;
      margin-top: 13px;
    }
    .menu-item {
      position: relative;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: var(--primary-color);
        font-size: 16px;
        position: relative;
        color: #011e41;
        font-size: 1.14286rem;
        padding: 12px 50px 12px 35px;
        font-weight: 600;
        flex: 1;
      }
      &:before {
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 0;
        bottom: top;
      }
    }
  }
  &__overlay {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    .overlay__heading {
      position: relative;
      height: 60px;
      min-width: 50px;
      background-color: var(--primary-color);
      .icon {
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
}
.showMenu {
  left: 0;
  transition: 0.5s;
}
