.product__filter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include flexBox(center, space-between);
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  padding: 0 15px;
  z-index: 99;
  .numberItem {
    display: none;
  }
  .filter,
  .sort {
    @include flexBox(center, space-around);
    cursor: pointer;
    padding: 0 20px;
    width: 120px;
    height: 48px;
    @include fs(14, 600, 24, 1.2);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .filter .refresh {
    display: none;
  }
  .filter__button {
    @include flexBox(center);
    gap: 10px;
    span {
      text-transform: capitalize;
    }
    &:after {
      content: none;
    }
  }
  .sort {
    .selectSort {
      position: fixed;
      width: 100%;
      height: 0;
      bottom: 0;
      overflow: hidden;
      @include flexBox(auto, auto, auto, column);
      &__heading {
        @include fs(14, 600);
        text-transform: uppercase;
      }
      .option {
        @include flexBox(center, center, auto, column);
        button {
          line-height: 30px;
        }
        img {
          margin-left: 15px;
        }
      }
    }
    .showSort {
      @include flexBox(center, center);
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      border: 1px solid var(--primary-color);
      z-index: 100;
      transition: 1s;
      button {
        border: none;
        background: white;
      }
      .overlay {
        width: 100%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .list {
        width: 100%;
        background-color: white;
        height: 150px;
      }
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}


@include large {
  .product__filter {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    height: 20px;
    margin-bottom: 40px;
    .filter,
    .sort {
      border: none;
      width: 200px;
      padding: 0;
      cursor: auto;
    }

    .filter {
      @include flexBox(center, space-between);
     
      @include fs(20, 600);
      width: 20%;
      .icon {
        display: none;
      }
      .refresh {
        display: block;
        position: relative;
        cursor: pointer;
        span {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .numberItem {
      display: block;
      width: calc(80% - 220px);
      padding-left: 40px;
      font-size: 20px;
      font-weight: 600;
      &:after {
        content: " Product(s)";
      }
    }
    .sort {
      position: relative;
      justify-content: flex-end;
      margin-right: 20px;
      font-size: 16px;
      cursor: pointer;
      .desktop {
        display: block;
      }
      .selectSort {
        visibility: hidden;
        position: absolute;
        top: 30px;
        bottom: auto;
        opacity: 0;
        height: 100%;
        &__heading {
          margin: 0;
        }
        .list .option button {
          padding: 0 10px;
        }
      }
      span {
        &:after {
          content: attr(data-after);
          font-size: 16px;
          margin-right: 15px;
          text-transform: uppercase;
        }
      }

      .showSort {
        position: absolute;
        @include flexBox();
        margin: 0 15px;
        opacity: 1;
        height: 130px;
        border-radius: 4px;
        overflow: hidden;
        top: 48px;
        width: 200px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
        visibility: visible;
        border: none;
        transition: 1s;
        z-index: 100;
        .overlay {
          display: none;
        }
      }
    }
  }
}
