@import "./filterSelector";
@import "./filterSort";
@import "./itemDetail";
@import "./itemTag";

.product {
  position: relative;
  width: 100%;
  margin-top: 30px;
  &__items {
    @include flexBox();

    .items-container {
      width: 100%;
      .items {
        @include flexBox();
        .item {
          margin-bottom: 40px;
          @include flexBox(flex-start, flex-start, wrap, column);
          position: relative;
          width: 100%;

          &__content {
            margin-top: 16px;
            display: flex;
          }
          &__img {
            img {
              min-width: 110px;
              max-height: 110px;
              width: 100%;
              height: 100%;
            }
          }
          &__container {
            display: flex;
            flex-direction: column;
            .code {
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            .name {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 1px;
              margin-bottom: 10px;
            }
          }
          &__price {
            display: flex;
            align-items: baseline;
            margin: 16px 0;
            .old {
              text-decoration: line-through;
              font-weight: 400;
              font-size: 14px;
              margin-bottom: 0;
              &:after {
                content: " đ";
              }
            }
            .new {
              margin-left: 5px;
              font-size: 18px;
              font-weight: 600;
              &:after {
                content: "đ";
              }
            }
          }

          &__description {
            margin-bottom: 16px;
            padding-left: 15px;
            li {
              list-style-type: disc;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
          &__action {
            width: 100%;
            .add,
            .research {
              display: block;
              width: 100%;
              text-transform: uppercase;
              font-size: 14px;
              line-height: 14px;
              font-weight: 600;
              height: 45px;
              padding: 15px;
              margin-bottom: 46px;
              border-radius: 2px;
            }
            .add {
              background-color: var(--primary-color);
              color: white;
              margin-bottom: 5px;
            }
          }
          .compare {
            display: none;
          }
        }
      }
    }
  }
  &:after {
    content: "";
  }
}

.hideBtn {
  display: none;
}

@include large {
  .product {
    @include flexBox(auto, auto, auto, column);
    &__items {
      @include flexBox();
      .items-container {
        width: 80%;
        padding: 0 20px;
        .items {
          align-items: stretch;
          margin: 0 -20px;
          .item {
            width: calc((100% / 3) - 40px);
            margin: 0 20px;
            margin-bottom: 80px;
            align-items: stretch;

            &__content {
              flex-direction: column;
              margin-top: 28px;
            }
            &__img {
              text-align: center;
              margin-bottom: 35px;
              img {
                max-height: none;
                min-width: none;
                height: 210px;
                object-fit: contain;
              }
            }
            &__container {
              .code {
                font-size: 14px;
              }
              .name {
                height: 78px;
                overflow: hidden;
                font-size: 20px;
                line-height: 26px;
              }
            }
            &__suggestion {
              display: none;
            }
            &__price {
              order: 2;

              margin-top: auto;
              .new {
                font-size: 24px;
              }
            }
            &__description {
              order: 1;
              margin-top: 0;
            }
            &__action {
              order: 3;
              display: flex;
              gap: 10px;
              height: 45px;
              margin-bottom: 15px;
              .add,
              .research {
                width: calc(50%);

                border-radius: 2px;
              }
              .add {
                order: 2;
              }
              .research {
                order: 1;
              }
            }
          }
        }
      }
    }
  }
}
